{{ define "sidebar" }}
<aside class="column is-3 aside hero is-fullheight">
    <div>
        <div class="columns">
            <a href="/" class="column has-text-white">
                <span class="icon"><i class="fa fa-star"></i></span>
                <span class="name">Osu To XML</span>
            </a>
        </div>
        <div class="columns">
            <a href="/mcz_to_xml" class="column has-text-white">
                <span class="icon"><i class="fa fa-star"></i></span>
                <span class="name">MCZ To XML</span>
            </a>
        </div>
        <div class="columns">
            <a href="/update_xml_bpm" class="column has-text-white">
                <span class="icon"><i class="fa fa-star"></i></span>
                <span class="name">Update XML Bpm</span>
            </a>
        </div>
    </div>
</aside>
{{ end }}