{{ define "mcz_to_xml" }}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8"/>
        <title>Mcz To Xml</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/vendor/bulma/css/bulma.css"/>
        <link rel="stylesheet" href="../assets/vendor/fontawesome/css/all.css"/>
    </head>
    <body style="background-color: #071e36">
    {{ template "navbar" }}

    <div class="container">
        <div class="columns mt-6">
            <div class="columns">
                {{ template "sidebar" }}
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <div class="notification">
                                <p class="has-text-danger">注意：</p>
                                <p>仅支持Malody标准<b>Key</b>模式的转换。</p>
                                <p>在转不是自己编写的谱子时，务必加上原作者的名字，目的是尊重原作者，且避免不必要的麻烦（被查房）！！！！！</p>
                                <p class="has-text-danger">请自行复制粘贴后调节最大节拍数以及showtime等段落安排。</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="file has-name">
                                <label class="file-label">
                                    <input class="file-input" accept=".mcz" type="file">
                                    <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">上传MCZ文件</span>
                                        </span>
                                    <span class="file-name"></span>
                                </label>
                            </div>
                        </div>
                        <div class="column">
                            <input class="input" type="text" placeholder="请输入需要转换的BPM">
                        </div>
                        <div class="column">
                            <button class="button" id="submit">开始转换</button>
                        </div>
                    </div>
                    <div class="columns is-full is-hidden" id="output-box">
                        <div class="column">
                            <div class="box">
                                <div class="columns">
                                    <div class="column" id="creator"></div>
                                    <div class="column" id="offset"></div>
                                </div>
                            </div>
                            <article class="message">
                                <div class="message-header">
                                    <p id="output-box-title"></p>
                                    <button class="icon" id="btn-copy" data-clipboard-target="#notes"><i class="fa fa-copy"></i></button>
                                </div>
                                <div class="message-body">
                                    <div id="notes"></div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" src="../assets/vendor/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../assets/js/mcz-to-xml.js"></script>
    <script type="application/javascript" src="../assets/vendor/clipboard.min.js"></script>
    <script type="text/javascript" src="../assets/js/copy-notes.js"></script>
    <script type="text/javascript">
        if (!(window.File || window.FileReader || window.FileList || window.Blob)) {
            alert("你使用的浏览器不支持使用此工具");
        }
    </script>
    </html>
{{ end }}